<app-header></app-header>


<input type="text" id="p" placeholder="Choose Folder to begin Syncing file" size="50">
<br>

<label class="lab" for="folder">Select folder :-</label>
<input type="file" id="myfile" name="Folder" class="m-2 custom-file-input " webkitdirectory />
<!-- <div class="file-loading"> directory multiple
    <input id="input-folder-2" name="input-folder-2[]" type="file" multiple webkitdirectory accept="image/*">
</div> -->

<br>

<div class="sync">
    <button class="m-2 btn btn-primary"> START SYNC</button>
</div>